{
  "tabWidth": 2,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
