@tailwind base;
@tailwind components;
@tailwind utilities;

.myMobileSwiperTop {
  @apply h-[24rem] mt-32;
}

.myMobileSwiperTop > .swiper-wrapper > .swiper-slide-prev > img {
  display: none;
}

.myMobileSwiperTop > .swiper-wrapper > .swiper-slide-next > img {
  display: none;
}

.myMobileSwiperDown {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myMobileSwiperDown .swiper-slide {
  opacity: 0.4;
}

.myMobileSwiperDown .swiper-slide-thumb-active {
  opacity: 1;
  height: 108px;
  width: 60px;
}

.myMobileSwiperDown > .swiper-wrapper > .swiper-slide > img {
  height: 108px;
  object-fit: cover;
}
