@tailwind base;
@tailwind components;
@tailwind utilities;

.fill {
  margin: 20px auto;
  text-align: center;
  font-size: 140px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
}
