@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.Home {
  @apply overflow-hidden min-w-[320px];
}

/*---- header ---- */
/* .Home-header,
.Home-banner,
.Home-banner-layer,
.Home-banner-plx {
    @apply w-full;
} */

/* .Home-header {
    @apply h-full bg-[#9cd0ff];
} */

/* .Home-banner {
    @apply relative overflow-hidden;
}

.Home-banner,
.Home-banner-plx,
.Home-banner-layer {
    @apply h-[12rem] xs:h-[14rem] sm:h-[20rem] md:h-[22rem] lg:h-[25rem] 2xl:h-[28rem] 3xl:h-[32rem] 4xl:h-[42rem] 5xl:h-[72rem];
} */

/* .Home-banner-plx,
.Home-banner-layer {
    @apply absolute;
}

.Home-banner-plx {
    @apply origin-bottom;
} */

/* .Home-banner-plx:nth-child(2),
.Home-banner-plx:nth-child(2) > .Home-banner-layer {
    @apply xs:h-[calc(14rem+5px)] sm:h-[calc(20rem+10px)] md:h-[calc(22rem+20px)] lg:h-[calc(25rem+80px)] xl:h-[calc(25rem+120px)];
    @apply 2xl:h-[calc(28rem+170px)] 3xl:h-[calc(30rem+260px)] 4xl:h-[calc(42rem+370px)] 5xl:h-[calc(72rem+440px)];
}

.Home-banner-sun {
    background: transparent radial-gradient(circle at 25% 25%, #fff 0%, transparent 25%);
} */

/* .Home-banner-clould-1 {
    background: url('../resources/images/banner-clould-1.svg') local no-repeat top/100%,
        linear-gradient(to bottom, transparent 0% 85%, rgba(233, 243, 255, 1) 85%, rgba(233, 243, 255, 1) 100%);
}

.Home-banner-clould-2 {
    background: url('../resources/images/banner-clould-2.svg') local no-repeat top/100%;
}

.Home-banner-clould-3 {
    background: url('../resources/images/banner-clould-3.svg') local no-repeat top/100%;
}

.Home-banner-clould-4 {
    background: url('../resources/images/banner-clould-4.svg') local no-repeat top/100%;
} */

/* .Home-banner-sea {
    background: transparent
        linear-gradient(
            to bottom,
            transparent 70%,
            #c1e0ff 70%,
            #b8ddfc 74.5%,
            #abd5ff 79%,
            #a5d0fd 83.5%,
            #a0ccf8 88%,
            #94bfef 95.5%,
            #86b5ea 100%
        );
    @apply xl:h-[70%] 4xl:h-full;
    @apply xl:top-[30%] 4xl:top-auto;
}

.Home-banner-wave {
    background: url('../resources/images/banner-wave.svg') local no-repeat bottom / 100%;
    @apply bottom-0;
} */

/* .Home-navigation {
    @apply absolute flex justify-between pr-4 xl:pr-16 pl-8;
    @apply top-0 xs:top-0 sm:top-0 md:top-2 lg:top-16 xl:top-14 2xl:top-20;
    @apply w-full h-12 xs:h-12 sm:h-12 md:h-14 lg:h-16 xl:h-20 2xl:h-24;
    @apply place-items-center;
    @apply text-[#07476F];
}

.Home-navigation a {
    @apply hover:text-[#7396B4];
}

.Home-navigation .active {
    @apply text-[#7396B4];
}

.Home-nav-menu {
    @apply flex;
    @apply sm:text-xs md:text-sm lg:text-sm xl:text-base 2xl:text-xl 4xl:text-2xl text-center;
    @apply lg:ml-24 xl:ml-44 2xl:ml-60;
    @apply my-4 list-none divide-y z-50;
}

.Home-header-logo {
    @apply flex;
}

.Home-logo {
    @apply flex justify-center items-center;
    @apply ml-10 lg:ml-20 2xl:ml-32 hover:scale-110;
} */

.Home-logo > img {
  @apply content-[url('../resources/images/logo-black.svg')];
  @apply block pointer-events-none filter;
  @apply h-6 xs:h-6 sm:h-6 md:h-10 lg:h-8 xl:h-10 2xl:h-16 4xl:h-20;
  @apply mt-5 xs:mt-5 sm:mt-10 md:mt-10 lg:mt-0;
}

/*---- main ---- */
.Home-main,
section {
  @apply relative;
}

.image-plx {
  @apply absolute w-full h-full;
}

/*---- main (Section 1) ---- */
.Home-main section:nth-child(1) {
  @apply h-[10rem] xs:h-[13rem] sm:h-[16rem] md:h-[19rem] lg:h-[20rem] xl:h-[21rem] 2xl:h-[22rem] 3xl:h-[24rem] 4xl:h-[28rem] 5xl:h-[32rem];
}

.Home-main section:nth-child(1) .section-content {
  @apply absolute;
  /* @apply w-[50%] xs:w-[55%] sm:w-[56%] md:w-full h-full; */
  @apply text-[#1e2d45];
  @apply 2xl:mt-5 3xl:mt-6 4xl:mt-8 5xl:mt-16;
  @apply z-10;
}

.Home-main section:nth-child(1) .section-content > div {
  @apply relative flex w-full space-x-4 md:space-x-6 xl:space-x-8 4xl:space-x-10;
  @apply mt-3 sm:mt-4 md:mt-5 lg:mt-6 xl:mt-7 2xl:mt-8 3xl:mt-10 4xl:mt-14 5xl:mt-16;
}

.Home-main section:nth-child(1) .section-content .based-on {
  @apply absolute left-0 2xl:left-[52%] bottom-[-2rem] sm:bottom-[-3rem] 2xl:bottom-0;
  @apply flex flex-nowrap items-center justify-start 2xl:justify-end gap-[0.5rem];
  @apply w-full 2xl:w-auto !m-0 whitespace-nowrap text-xs 2xl:text-sm text-white;
}

.Home-main section:nth-child(1) .section-content .based-on-sui {
  @apply content-[url('../resources/images/sui.png')];
  @apply h-5 xs:h-5 sm:h-5 md:h-7 lg:h-6 xl:h-7 2xl:h-8 4xl:h-10 !m-0;
}

.Home-main section:nth-child(1) .section-content .text-title-1 {
  @apply text-xs xs:text-sm sm:text-base md:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
  @apply tracking-[.05em] font-[700] sm:font-[800] lg:font-[900] text-[#334664];
  @apply leading-[1.2rem] xs:leading-[1.5rem] sm:leading-[2rem] md:leading-[2.5rem] lg:leading-[3rem];
  @apply xl:leading-[3.5rem] 2xl:leading-[4rem] 3xl:leading-[4.5rem] 4xl:leading-[5rem] 5xl:leading-[6rem];
  @apply mb-2 sm:mb-3 lg:mb-3 xl:mb-4 2xl:mb-5 3xl:mb-7 4xl:mb-10 5xl:mb-14;
}

.Home-main section:nth-child(1) .section-content .text-title-2 {
  @apply text-[0.5rem] sm:text-xs md:text-sm lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl 4xl:text-3xl 5xl:text-4xl text-[#334664];
}

.links-container {
  @apply flex flex-row gap-4 xs:w-[14.5rem] sm:w-[14.5rem] md:w-[16.5rem] lg:w-[18.5rem] xl:w-[20.5rem] 2xl:w-[25rem] 4xl:w-[26.5rem] 5xl:w-[32.5rem];
}

/*---- main (Section 2) ---- */
.Home-main section:nth-child(2) {
  @apply h-[20rem] xs:h-[24rem] sm:h-[28rem] md:h-[36rem] lg:h-[38rem] xl:h-[48rem] 2xl:h-[56rem] 3xl:h-[76rem] 4xl:h-[100rem] 5xl:h-[140rem];
}

.Home-main section:nth-child(2) .about {
  @apply content-[url('../resources/images/about.svg')];
  @apply absolute left-[17%] sm:left-[15%] top-[48%] xs:top-[40%] md:top-[45%] lg:top-[45%];
  @apply w-[65%] sm:w-[70%] z-30;
}

.Home-main section:nth-child(2) .text-title-section {
  @apply absolute top-[35%] xs:top-[30%] lg:top-[35%] xl:top-[35%];
  @apply left-[45%] lg:left-[46%];
  @apply text-white font-bold text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
}

.Home-main section:nth-child(2) .section-content {
  @apply absolute w-full h-full;
  @apply z-10;
  /* @apply pt-52; */
}

/*---- main (Section 3) ---- */
.Home-main section:nth-child(3) {
  @apply h-[40rem] xs:h-[23rem] sm:h-[28rem] md:h-[35rem] lg:h-[35rem] xl:h-[35rem] 2xl:h-[40rem] 3xl:h-[45rem] 4xl:h-[60rem] 5xl:h-[140rem];
}

.Home-main section:nth-child(3) .group-of-bubble-1 {
  @apply flex flex-col items-center justify-center;
  @apply w-[25%] xs:w-[15%] xl:w-[12%] mt-5;
}

.Home-main section:nth-child(3) .group-of-bubble-1 > img {
  @apply content-[url('../resources/images/bubble-HighSecurity.svg')];
  animation: upAnimation 2s infinite;
}

.Home-main section:nth-child(3) .group-of-bubble-1 > h3 {
  @apply bg-[#00000066] m-2 py-2 px-3 border-none border-2 rounded-md w-[7rem] xs:w-[7rem] sm:w-[9rem] lg:w-[9rem] xl:w-[11rem] 2xl:w-[11rem] 3xl:w-[15rem] 4xl:w-[17rem] flex justify-center;
  @apply text-xs sm:text-base  xl:text-xl 3xl:text-3xl 4xl:text-4xl 5xl:text-5xl font-bold text-white;
}

.Home-main section:nth-child(3) .group-of-bubble-2 {
  @apply flex flex-col items-center justify-center;
  @apply w-[25%] xs:w-[15%] xl:w-[12%] mt-5;
}

.Home-main section:nth-child(3) .group-of-bubble-2 > img {
  @apply content-[url('../resources/images/bubble-Composability.svg')];
  animation: upAnimation 2s infinite;
}

.Home-main section:nth-child(3) .group-of-bubble-2 > h3 {
  @apply bg-[#00000066] m-2 py-2 px-3 border-none border-2 rounded-md;
  @apply text-xs sm:text-base xl:text-xl 3xl:text-3xl 4xl:text-4xl 5xl:text-5xl font-bold text-white;
}

.Home-main section:nth-child(3) .group-of-bubble-3 {
  @apply flex flex-col items-center justify-center;
  @apply w-[25%] xs:w-[15%] xl:w-[12%] mt-5;
}

.Home-main section:nth-child(3) .group-of-bubble-3 > img {
  @apply content-[url('../resources/images/bubble-InstitutionalGrade.svg')];
  animation: upAnimation 2s infinite;
}

.Home-main section:nth-child(3) .group-of-bubble-3 > h3 {
  @apply bg-[#00000066] m-2 py-2 px-3 border-none border-2 rounded-md w-[10rem] xs:w-[9rem] sm:w-[12rem] lg:w-[12rem] xl:w-[14rem] 2xl:w-[14rem] 3xl:w-[20rem] 4xl:w-[24rem] flex justify-center;
  @apply text-xs sm:text-base xl:text-xl 3xl:text-3xl 4xl:text-4xl 5xl:text-5xl font-bold text-white;
}

.Home-main section:nth-child(3) .group-of-bubble-4 {
  @apply content-[url('../resources/images/group-of-bubble-right-1.svg')];
  @apply absolute left-[10%] sm:left-[50%] 3xl:left-[55%];
  @apply bottom-[15%] xs:bottom-[-10%] sm:bottom-[20%] md:bottom-[15%] 3xl:bottom-[15%];
  @apply w-[10%] 3xl:w-[8%];
}

.Home-main section:nth-child(3) .group-of-bubble-5 {
  @apply content-[url('../resources/images/group-of-bubble-quick-1.svg')];
  @apply absolute right-[10%] 3xl:right-[20%];
  @apply bottom-[1%] xs:bottom-[6%] 3xl:bottom-[3%];
  @apply w-[12%] 3xl:w-[10%];
}

.Home-main section:nth-child(3) .group-of-bubble-6 {
  @apply content-[url('../resources/images/group-of-bubble-left-1.svg')];
  @apply absolute right-[15%] sm:right-[3%] 3xl:right-[10%];
  @apply bottom-[20%] xs:bottom-[25%] sm:bottom-[40%] 3xl:bottom-[35%];
  @apply w-[14%] 3xl:w-[13%];
}

.Home-main section:nth-child(3) .seahorse {
  @apply content-[url('../resources/images/single-seahorse.svg')];
  @apply absolute right-[17%];
  @apply bottom-[8%] xs:bottom-[15%] sm:bottom-[6%] md:bottom-[12%] lg:bottom-[9%] 2xl:bottom-[10%];
  @apply w-[0.5rem] xs:w-[1rem] sm:w-[1.25rem] xl:w-[1.5rem] 3xl:w-[2rem] 4xl:w-[2.5rem] 5xl:w-[4rem] opacity-60;
}

.Home-main section:nth-child(3) .rock-right {
  @apply content-[url('../resources/images/section-3-rock-right.svg')];
  @apply absolute right-0 bottom-0 sm:-bottom-[10%] md:-bottom-[10%]  2xl:-bottom-[10%];
  @apply w-[20%] xs:w-[25%] sm:w-[26%] opacity-60;
}

.Home-main section:nth-child(3) .section-content {
  @apply w-[13rem] xs:w-[17rem] sm:w-[15rem] md:w-[17rem] lg:w-[24rem] xl:w-[25rem] 2xl:w-[28rem] 3xl:w-[30rem] 4xl:w-[35rem] 5xl:w-[56rem] h-auto;
  @apply absolute right-[15%] xs:right-[17.5%] sm:right-[15%] lg:right-[12%] xl:right-[15%] 3xl:right-[18%];
  @apply top-[11.5rem] xs:top-[15.5rem] sm:top-[3.5rem] md:top-[5rem] lg:top-[16rem] xl:top-[18rem] 2xl:top-[23rem] 3xl:top-[26rem] 4xl:top-[36rem] 5xl:top-[50rem];
  @apply z-10;
}

.Home-main section:nth-child(3) .group-bubbles {
  @apply w-full flex flex-col xs:flex-row justify-center items-center xs:justify-evenly;
  @apply mt-0 xs:mt-5 md:mt-10 lg:mt-20;
}

.Home-main section:nth-child(3) .text-title-section {
  @apply w-full flex justify-center mb-6 lg:mt-20;
  @apply text-white font-bold text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
}

.Home-main section:nth-child(3) .section-content .text-title-1 {
  @apply text-xs sm:text-base md:text-lg lg:text-3xl xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-8xl font-bold text-white;
  @apply mb-2 xl:mb-4;
}

.Home-main section:nth-child(3) .section-content .text-title-2 {
  @apply text-[0.5rem] sm:text-xs md:text-sm lg:text-base 2xl:text-lg 3xl:text-xl 4xl:text-2xl 5xl:text-4xl text-white;
  @apply leading-[1.1rem] xs:leading-[1.2rem] sm:leading-[1.3rem] md:leading-[1.4rem] lg:leading-[1.6rem] xl:leading-[1.8rem] 2xl:leading-[2rem] 3xl:leading-[2.5rem] 4xl:leading-[3rem] 5xl:leading-[4.5rem];
  @apply font-[500];
}

.nft-button {
  @apply text-[#1e2d45] text-center text-[0.5rem] sm:text-sm md:text-base lg:text-lg 2xl:text-xl 4xl:text-2xl 5xl:text-4xl;
  @apply leading-[0.75rem] lg:leading-7;
  @apply bg-white bg-opacity-60;
  @apply rounded-md xs:rounded-md sm:rounded-lg;
  @apply block w-full hover:animate-pulse;
  @apply mt-2 md:mt-5 py-1 xs:py-1.5 sm:py-2 md:py-2.5 lg:py-2 4xl:py-3.5 5xl:py-7;
}

/*---- main (Section 4) ---- */
.Home-main section:nth-child(4) {
  @apply h-[28rem] xs:h-[30rem] sm:h-[35rem] md:h-[40rem] lg:h-[52rem] xl:h-[58rem] 2xl:h-[64rem] 3xl:h-[80rem] 4xl:h-[100rem] 5xl:h-[140rem] mt-10;
}

.Home-main section:nth-child(4) .group-of-fish {
  @apply content-[url('../resources/images/bg-group-of-fish-2.svg')];
  @apply absolute left-[-20%] lg:left-[-15%] 2xl:left-[-10%] 3xl:left-[-5%];
  @apply top-[5%] xs:top-0 sm:top-[10%] xl:top-[12%] 2xl:top-[14%] 3xl:top-[16%] 4xl:top-[18%] 5xl:top-[14%];
  @apply w-[30%] lg:w-[25%] 2xl:w-[20%];
}

.Home-main section:nth-child(4) .lonely-jellyfish {
  @apply content-[url('../resources/images/single-jellyfish.svg')];
  @apply absolute right-[15%] xs:right-[13%] sm:right-[12%] xl:right-[10%];
  @apply bottom-[10%] xs:bottom-[12%] sm:bottom-[14%] 2xl:bottom-[16%] 5xl:bottom-[18%];
  @apply w-[7%] xs:w-[8%] sm:w-[5%] 2xl:w-[3.5%];
  transform: rotateY(-180deg) rotate(15deg);
}

.Home-main section:nth-child(4) .group-of-discus-fish-left {
  @apply content-[url('../resources/images/group-of-discus-fish-3.svg')];
  @apply absolute left-[10%] xs:left-[11%] sm:left-[9%];
  @apply bottom-[35%] xs:bottom-[30%] sm:bottom-[25%] md:bottom-[25%] lg:bottom-[28%] xl:bottom-[30%] 2xl:bottom-[32%] 4xl:bottom-[36%] 5xl:bottom-[40%];
  @apply w-[14%] xs:w-[15%] sm:w-[12%] md:w-[15%] lg:w-[12%] xl:w-[10%] 2xl:w-[9%] opacity-40;
}

.Home-main section:nth-child(4) .group-of-discus-fish-right {
  @apply content-[url('../resources/images/group-of-discus-fish-2.svg')];
  @apply absolute right-[5%] xs:right-[6%] sm:right-[7%] md:right-[5%];
  @apply bottom-[35%] xs:bottom-[45%] sm:bottom-[30%] md:bottom-[25%] lg:bottom-[30%] xl:bottom-[35%];
  @apply w-[18%] xs:w-[20%] sm:w-[22%] md:w-[20%] lg:w-[18%] xl:w-[16%] 2xl:w-[14%] opacity-40;
}

.Home-main section:nth-child(4) .group-of-bubble-1 {
  @apply content-[url('../resources/images/group-of-bubble-quick-1.svg')];
  @apply absolute right-[5%];
  @apply bottom-[10%] sm:bottom-[5%] 3xl:bottom-[10%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(4) .group-of-bubble-2 {
  @apply content-[url('../resources/images/group-of-bubble-2.svg')];
  @apply absolute right-[8%];
  @apply bottom-[30%] xs:bottom-[35%] sm:bottom-[35%] 3xl:bottom-[30%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(4) .group-of-bubble-3 {
  @apply content-[url('../resources/images/group-of-bubble-left-1.svg')];
  @apply absolute right-[25%] xs:right-[20%] sm:right-[15%];
  @apply bottom-0;
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(4) .group-of-bubble-4 {
  @apply content-[url('../resources/images/group-of-bubble-quick-2.svg')];
  @apply absolute left-[15%] sm:left-[10%];
  @apply bottom-[10%] sm:bottom-[5%] 3xl:bottom-[10%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(4) .group-of-bubble-5 {
  @apply content-[url('../resources/images/group-of-bubble-2.svg')];
  @apply absolute left-[5%] 3xl:left-[5%];
  @apply bottom-[30%] xs:bottom-[25%] sm:bottom-[20%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(4) .rock-left {
  @apply content-[url('../resources/images/section-4-rock-left.svg')];
  @apply absolute left-0 opacity-60;
  @apply bottom-[7%] xs:bottom-[0%];
  @apply w-[30%] xs:w-[24%] sm:w-[20%] xl:w-[18%];
}

.Home-main section:nth-child(4) .rock-right {
  @apply content-[url('../resources/images/section-4-rock-right.svg')];
  @apply absolute right-0 bottom-0 opacity-60;
  @apply w-[25%] xs:w-[20%] sm:w-[17%] xl:w-[15%];
}

.Home-main section:nth-child(4) .section-content {
  @apply w-full h-[14rem] xs:h-[14rem] md:h-[9rem] lg:h-[24rem] xl:h-[36rem] 2xl:h-[44rem] 3xl:h-[52rem] 4xl:h-[38rem] 5xl:h-[56rem];
  @apply relative flex flex-col justify-center items-center;
  @apply z-10;
}

.Home-main section:nth-child(4) .text-title {
  @apply text-xs xs:text-sm sm:text-base md:text-lg 2xl:text-xl 3xl:text-3xl 5xl:text-5xl text-white font-bold;
  @apply ml-[-2rem] mb-1 4xl:mb-2;
}

.Home-main section:nth-child(4) .text-list {
  @apply list-none text-white text-[0.5rem] xs:text-xs sm:text-sm md:text-base 2xl:text-lg 3xl:text-xl 5xl:text-3xl;
  @apply font-[500] w-[30rem] lg:w-[50rem];
}

.Home-main section:nth-child(4) .text-list > li {
  @apply flex flex-row justify-center items-center;
  @apply my-12 3xl:my-16;
}

.Home-main section:nth-child(4) .text-list > li > span {
  @apply flex flex-row justify-center items-center;
  @apply w-[25rem] xl:w-[30rem] 2xl:w-[35rem] 3xl:w-[40rem] 4xl:w-[45rem] 5xl:w-[50rem];
}

.Home-main section:nth-child(4) .text-title-section {
  @apply mt-10;
  @apply text-white font-bold text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
}

.championGroupLeft {
  @apply hidden lg:flex flex-row justify-center items-center;
  @apply w-[30%] absolute left-[4%] xl:left-[5%];
}

.championGroupRight {
  @apply hidden lg:flex flex-row-reverse justify-start items-center;
  @apply w-[30%] absolute right-[7%] xl:right-[9%];
}

.bubbleLine1 {
  @apply content-[url('../resources/images/bubbleLine.svg')];
  @apply w-[30%] sm:w-[20%] mr-4;
}

.bubbleLine2 {
  @apply content-[url('../resources/images/bubbleLine.svg')];
  @apply w-[30%] sm:w-[20%] mr-4;
  transform: rotate(180deg);
}

.bubbleLine3 {
  @apply content-[url('../resources/images/bubbleLine.svg')];
  @apply w-[30%] sm:w-[20%] mr-4;
}

.bubbleLine4 {
  @apply content-[url('../resources/images/bubbleLine.svg')];
  @apply w-[30%] sm:w-[20%] mr-4;
  transform: rotate(180deg);
}

.champion-bubble-1 {
  @apply content-[url('../resources/images/suiBubble1.svg')];
  @apply flex flex-col justify-center items-center;
  @apply w-[50%];
  @apply h-[8rem] lg:h-[10.5rem] 2xl:h-[12rem] 3xl:h-[15rem] 4xl:h-[17rem] 5xl:h-[21rem];
  @apply hidden lg:block;
  animation: upAnimation 2s infinite;
}

.champion-bubble-2 {
  @apply content-[url('../resources/images/solBubble.svg')];
  @apply flex flex-col justify-center items-center;
  @apply w-[50%];
  @apply h-[8rem] lg:h-[10.5rem] 2xl:h-[12rem] 3xl:h-[15rem] 4xl:h-[17rem] 5xl:h-[21rem];
  @apply hidden lg:block;
  animation: upAnimation 2s infinite;
}

.champion-bubble-3 {
  @apply content-[url('../resources/images/suiBubble2.svg')];
  @apply flex flex-col justify-center items-center;
  @apply w-[50%];
  @apply h-[8rem] lg:h-[10.5rem] 2xl:h-[12rem] 3xl:h-[15rem] 4xl:h-[17rem] 5xl:h-[21rem];
  @apply hidden lg:block;
  animation: upAnimation 2s infinite;
}

.champion-bubble-4 {
  @apply content-[url('../resources/images/suiBubble3.svg')];
  @apply flex flex-col justify-center items-center;
  @apply w-[50%];
  @apply h-[8rem] lg:h-[10.5rem] 2xl:h-[12rem] 3xl:h-[15rem] 4xl:h-[17rem] 5xl:h-[21rem];
  @apply hidden lg:block;
  animation: upAnimation 2s infinite;
}

@keyframes upAnimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: -translateY(0px);
  }
}

/*---- main (Section 5) ---- */
.Home-main section:nth-child(5) {
  @apply h-[18rem] xs:h-[34rem] sm:h-[35rem] md:h-[45rem] lg:h-[40rem] xl:h-[45rem] 2xl:h-[60rem] 3xl:h-[65rem] 4xl:h-[65rem] 5xl:h-[100rem];
}

.Home-main section:nth-child(5) .text-title-section {
  @apply w-full flex justify-center mb-6 xl:mb-10;
  @apply text-white font-bold text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
}

.Home-main section:nth-child(5) .beyond {
  @apply content-[url('../resources/images/LendingBorrowing.svg')];
  @apply flex justify-center items-center mx-auto;
  @apply w-[80%] sm:w-[70%];
}

/*---- main (Section 6) ---- */
.Home-main section:nth-child(6) {
  @apply h-[26rem] xs:h-[34rem] sm:h-[42rem] md:h-[45rem] lg:h-[40rem] xl:h-[48rem] 2xl:h-[55rem] 3xl:h-[70rem] 4xl:h-[65rem] 5xl:h-[100rem];
}

.Home-main section:nth-child(6) .core-team-submarine {
  @apply content-[url('../resources/images/submarine-core-team.svg')];
  @apply absolute left-[5%] md:left-[10%] 2xl:left-[11%] top-0;
  @apply w-[60%] md:w-[55%] 2xl:w-[45%];
}

.Home-main section:nth-child(6) .group-of-turtle {
  @apply content-[url('../resources/images/bg-group-of-turtle.svg')];
  @apply absolute right-[10%] top-[5%];
  @apply w-[50%] md:w-[40%] lg:w-[30%] xl:w-[20%];
}

.Home-main section:nth-child(6) .group-of-manta {
  @apply hidden md:block;
  @apply content-[url('../resources/images/group-of-mantas.svg')];
  @apply absolute left-[-10%] md:left-[-5%] lg:left-[3%] xl:left-[5%] 3xl:left-[7%];
  @apply bottom-[-5%] sm:bottom-0 lg:bottom-[20%] xl:bottom-[20%] 2xl:bottom-[10%] 3xl:bottom-[20%];
  @apply w-[65%] sm:w-[60%] md:w-[55%] lg:w-[40%] xl:w-[35%] 2xl:w-[40%] 3xl:w-[35%];
}

.Home-main section:nth-child(6) .group-of-bubble-1 {
  @apply content-[url('../resources/images/group-of-bubble-1.svg')];
  @apply absolute right-[85%] md:right-[75%] lg:right-[50%] xl:right-[45%] 3xl:right-[40%];
  @apply bottom-[45%] xs:bottom-[40%] sm:bottom-[35%] md:bottom-[30%] lg:bottom-[-10%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(6) .group-of-bubble-2 {
  @apply content-[url('../resources/images/group-of-bubble-2.svg')];
  @apply absolute right-[5%] xl:right-[3%] 3xl:right-[5%];
  @apply bottom-[60%] md:bottom-[50%] lg:bottom-[25%] xl:bottom-[20%] 3xl:bottom-[10%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(6) .group-of-bubble-3 {
  @apply hidden md:block;
  @apply content-[url('../resources/images/group-of-bubble-right-1.svg')];
  @apply absolute left-[40%] lg:left-[30%] xl:left-[28%] 2xl:left-[33%];
  @apply bottom-[10%] lg:bottom-[30%] xl:bottom-[28%] 2xl:bottom-[24%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(6) .group-of-bubble-4 {
  @apply hidden md:block;
  @apply content-[url('../resources/images/group-of-bubble-right-2.svg')];
  @apply absolute left-[1%] md:left-[3%] lg:left-[8%] xl:left-[10%];
  @apply bottom-[10%] sm:bottom-[15%] md:bottom-[18%] lg:bottom-[35%] 2xl:bottom-[30%] 3xl:bottom-[40%];
  @apply w-[4%] 3xl:w-[5%];
}

.Home-main section:nth-child(6) .section-content {
  @apply absolute flex flex-row flex-wrap justify-center items-end;
  @apply gap-6 xs:gap-4 sm:space-x-6 md:space-x-4 lg:space-x-8 4xl:space-x-8 space-y-6 lg:space-y-5 4xl:space-y-8;
  @apply w-full lg:w-[55%] xl:w-[45rem] 2xl:w-[50rem] 3xl:w-[60rem] 4xl:w-[70rem] 5xl:w-[80rem] h-auto;
  @apply top-[30%] xs:top-[35%] lg:top-[42.5%];
  @apply right-0  lg:right-[1%] xl:right-[2%];
  @apply z-10;
}

.Home-main section:nth-child(6) .card-team {
  @apply flex flex-col border justify-center items-center border-[#AAD6FF] rounded-2xl px-1 xs:px-2 md:px-3 py-1;
  @apply h-24 xs:h-32 sm:h-36 lg:h-40 xl:h-48 2xl:h-56 3xl:h-64;
  @apply w-[40%] sm:w-[calc(25%-1rem)] md:w-[calc(18%-1rem)] lg:w-[9.5rem] xl:w-[11.5rem] 2xl:w-[12rem] 3xl:w-[14rem];
}

.Home-main section:nth-child(6) .card-team .card-profile {
  @apply flex-grow flex flex-col justify-center w-3/4;
}

.Home-main section:nth-child(6) .card-team .card-profile .avatar {
  @apply border-2 border-[#AAD6FF] rounded-full mx-auto mt-4 xl:mt-6;
  @apply w-8 xs:w-10 sm:w-16 md:w-16 lg:w-16 xl:w-20 2xl:w-20;
}

.Home-main section:nth-child(6) .card-team .card-content {
  @apply flex-grow flex gap-2 justify-center items-center flex-row w-1/2 xl:mb-4 mt-4;
}

.Home-main section:nth-child(6) .card-team .card-content .card-name {
  @apply text-white text-xs sm:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
}

.Home-main section:nth-child(6) .card-team .card-content .card-links {
  @apply flex flex-wrap;
}

.Home-main section:nth-child(6) .card-team .card-content .card-links a {
  @apply hover:rotate-12 transition-all;
}

.Home-main section:nth-child(6) .card-team .card-content .card-links .twitter {
  @apply content-[url(../resources/images/twitter-rounded.svg)];
  @apply w-4 lg:w-6 h-auto;
  @apply hover:drop-shadow-[0_0_4px_rgba(29,161,242,255)];
}

/*---- main (Section 7) ---- */
.Home-main section:nth-child(7) {
  @apply h-[30rem] xs:h-[35rem] sm:h-[25rem] md:h-[35rem] lg:h-[45rem] xl:h-[40rem] 2xl:h-[46rem] 3xl:h-[55rem] 4xl:h-[56rem] 5xl:h-[80rem];
  @apply flex justify-center items-center mb-10;
}

.Home-main section:nth-child(7) .text-title-section {
  @apply w-full flex justify-center mb-2;
  @apply text-white font-bold text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
}

.Home-main section:nth-child(7) .suiFoundation {
  @apply content-[url('../resources/images/suiFoundation.svg')];
  @apply mx-auto;
  @apply w-[50%] md:w-[80%] lg:w-full;
}

.Home-main section:nth-child(7) .section-content {
  @apply absolute flex flex-col flex-wrap;
  @apply top-[50%] xs:top-[50%] sm:top-[30%] md:top-[20%] lg:top-[30%];
  @apply z-10;
}

/*---- main (Section 8) ---- */
.Home-main section:nth-child(8) {
  @apply h-[15rem] xs:h-[25rem] sm:h-[30rem] md:h-[40rem] lg:h-[45rem] xl:h-[40rem] 2xl:h-[46rem] 3xl:h-[55rem] 4xl:h-[56rem] 5xl:h-[80rem];
}

.Home-main section:nth-child(8) .group-of-fish-left {
  @apply hidden sm:block;
  @apply content-[url('../resources/images/bg-group-of-fish-2.svg')];
  @apply absolute left-[-30%] xs:left-[-27.5%] sm:left-[-25%] md:left-[-30%] 2xl:left-[-15%];
  @apply bottom-[5%] xs:bottom-[10%] sm:bottom-[20%] 2xl:bottom-[30%] 4xl:bottom-[55%];
  @apply w-[30%] xs:w-[32%] sm:w-[35%] lg:w-[30%] xl:w-[25%] 2xl:w-[20%];
  transform: rotate(-15deg);
}

.Home-main section:nth-child(8) .group-of-fish-right {
  @apply content-[url('../resources/images/bg-group-of-fish-2.svg')];
  @apply absolute right-[-30%] xs:right-[-34%] sm:right-[-38%] lg:right-[-34%] 4xl:right-[-30%];
  @apply top-[-25%] xs:top-[-10%] md:top-[-5%] lg:top-[-15%] 4xl:top-[-20%] 5xl:top-[10%];
  @apply w-[33%] xs:w-[35%] sm:w-[38%] lg:w-[33%] 4xl:w-[30%];
  transform: rotateY(-180deg) rotate(-30deg);
}

.Home-main section:nth-child(8) .group-of-jelly-fish {
  @apply content-[url('../resources/images/bg-group-of-jelly-fish.svg')];
  @apply absolute left-[0%];
  @apply bottom-[-42%] xs:bottom-[-37%] sm:bottom-[-32%] md:bottom-[-25%] 2xl:bottom-[-20%] 3xl:bottom-[-10%];
  @apply w-[10%] sm:w-[12%] lg:w-[8%] xl:w-[6%];
}

.Home-main section:nth-child(8) .whale {
  @apply content-[url('../resources/images/bg-whale.svg')];
  @apply absolute right-[-66%] xs:right-[-62%] sm:right-[-65%] md:right-[-65%] lg:right-[-56%] xl:right-[-55%] 2xl:right-[-50%] 3xl:right-[-45%] 4xl:right-[-43%];
  @apply top-[-40%] xs:top-[-35%] sm:top-[-25%] md:top-[-35%] lg:top-[-50%] xl:top-[-55%] 3xl:top-[-60%] 4xl:-top-[70%];
  @apply w-[100%] xl:w-[85%] 2xl:w-[80%] 3xl:w-[75%] z-0;
}

.Home-main section:nth-child(8) .two-jellyfish {
  @apply content-[url('../resources/images/group-of-jelly-fish.svg')];
  @apply absolute right-[10%] xs:right-[5%];
  @apply bottom-0 xs:bottom-[-3%];
  @apply w-[12%] lg:w-[8%] xl:w-[6%];
  @apply z-10;
  transform: rotateY(-180deg);
}

.Home-main section:nth-child(8) .group-of-bubble-1 {
  @apply content-[url('../resources/images/group-of-bubble-2.svg')];
  @apply absolute right-[5%] xl:right-[7%] 4xl:right-[17%];
  @apply bottom-[65%] xs:bottom-[60%] sm:bottom-[65%] lg:bottom-[55%];
  @apply xl:bottom-[40%] 2xl:bottom-[35%] 4xl:bottom-[40%];
  @apply w-[12%] 3xl:w-[10%];
}

.Home-main section:nth-child(8) .group-of-bubble-2 {
  @apply content-[url('../resources/images/group-of-bubble-right-1.svg')];
  @apply absolute right-[10%] xs:right-[5%] lg:right-[2%] 3xl:right-[4%];
  @apply bottom-0 lg:bottom-[-10%] 3xl:bottom-[-10%];
  @apply w-[15%] 3xl:w-[13%];
}

.Home-main section:nth-child(8) .section-content {
  @apply absolute flex flex-row flex-wrap justify-start items-start;
  @apply gap-x-6 sm:gap-x-9 md:gap-x-10 lg:gap-x-[1.5rem] 2xl:gap-x-[2.5rem] 3xl:gap-x-[3rem] 5xl:gap-x-[8rem];
  @apply gap-y-3.5 xs:gap-y-4 sm:gap-y-6 md:gap-y-8 lg:gap-y-9 3xl:gap-y-[3.5rem] 5xl:gap-y-[6rem];
  @apply w-[18rem] xs:w-[60%] sm:w-[58%] md:w-[56%] lg:w-[58%] xl:w-[54%] h-auto;
  @apply top-[15%] xs:top-[25%] lg:top-[30%];
  @apply left-[13%] xs:right-[7%] sm:right-[9%];
  @apply z-10;
}

.Home-main section:nth-child(8) .text-title-section {
  @apply w-full flex justify-center mb-6;
  @apply text-white font-bold text-xs xs:text-base sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl 4xl:text-6xl 5xl:text-7xl;
}

.Home-main section:nth-child(8) .roadmap {
  @apply content-[url('../resources/images/roadmap.svg')];
  @apply mx-auto;
  @apply w-[70%] lg:w-[80%] z-50;
}

.Home-main section:nth-child(8) .section-content > div {
  @apply flex flex-col gap-1 sm:gap-2;
  @apply w-[calc(50%-1rem)] sm:w-[6rem];
}

.Home-main section:nth-child(8) .section-content > div:last-child {
  @apply w-full sm:w-[6rem];
}

/*---- footer ---- */
footer {
  @apply w-full h-[20rem] xs:h-[10rem] md:h-[9rem] lg:h-[24rem] xl:h-[36rem] 2xl:h-[44rem] 3xl:h-[52rem] 4xl:h-[38rem] 5xl:h-[56rem];
  @apply relative flex justify-center items-center;
  @apply z-10;
}

footer .seabed {
  @apply content-[url(../resources/images/seabed.svg)];
  @apply absolute bottom-0 w-full h-auto;
}

footer .content {
  @apply flex flex-col items-center;
  @apply absolute bottom-[45%] xs:bottom-[40%] md:bottom-[60%] lg:bottom-[30%] 2xl:bottom-[25%];
  @apply w-2/3 sm:w-1/3;
}

footer .content .menu {
  @apply w-full border-b text-center p-3 pb-2 lg:pb-4;
}

footer .content .menu a {
  @apply inline px-1 font-semibold text-white text-[0.5rem] md:text-sm lg:text-base lg:px-2 xl:px-3 xl:text-base 2xl:text-xl;
  @apply leading-[0.75rem];
  @apply hover:text-[#9cd0dd];
  @apply font-['Poppins'] w-96;
}

footer .content .social-media {
  @apply w-full p-3 text-center;
}

footer .content .social-media a img {
  @apply inline px-1 w-6 sm:w-10 sm:px-2;
  @apply md:w-10 lg:w-12 xl:w-12 2xl:w-20 2xl:px-5;
  @apply hover:text-gray-100 hover:scale-110 hover:drop-shadow-[0_0_0_rgba(255,255,255,255)] transition-all;
}

footer .content > img {
  @apply content-[url(../resources/images/logo-white.png)];
  @apply w-1/2 xl:w-1/3 text-center;
}

footer .content .copyright {
  @apply mt-3 xs:mt-3 sm:mt-3 text-xs sm:text-xs lg:text-sm;
}

footer .content .copyright span {
  @apply rounded-full bg-gray-700 text-gray-100 px-4 py-1;
}

.footer-logo {
  @apply flex justify-center items-center col-span-2  hover:scale-110;
}

.footer-logo > img {
  @apply content-[url('../resources/images/logo-white.png')];
  @apply w-1/2 xl:w-1/3 text-center;
}

/*---- Back to top ---- */
.Back-to-top {
  @apply h-[1.8rem] md:h-[2.5rem];
  @apply w-[1.8rem] md:w-[2.5rem];
  @apply fixed bottom-[5%] md:bottom-[3.5%];
  @apply right-[5%] md:right-[3.5%];
  @apply bg-gray-200 text-gray-800 opacity-60 hover:opacity-80 rounded-full cursor-pointer;
  @apply animate-bounce;
  @apply z-50;
}
